body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #ffffff;
}

h1, h2, h3, h4 {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
    background: #e9f2ff;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #77b1e7;
}

img {
  width: 40px; /* Lebar tetap 300 piksel */
  height: 40px; /* Tinggi tetap 200 piksel */
}

.nav-links {
    display: flex;
    list-style: none;
   gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #77b1e7;
    font-size: 16px;
}

.btn-start {
    background: #007bff;
    padding: 8px 15px;
    color: #fff !important;
    border-radius: 8px;
    font-family: Arial;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.hero-text {
    width: 45%;
}

.hero-text h1 {
    font-size: 45px;
    font-weight: 800;
}

.search-label {
    display: block;
    margin-top: 25px;
    color: #666;
}

.search-box {
    margin-top: 10px;
    display: flex;
    background: #f4f4f4;
    border-radius: 25px;
    padding: 5px;
    width: 80%;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: transparent;
}

.search-btn {
    background: #007bff;
    border: none;
    padding: 10px 18px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.popular {
    margin-top: 10px;
}

.popular button {
    background: #e6e6e6;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 5px;
}

.comparison-card {
    margin-top: 40px;
    width: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.compare-grid {
    display: flex;
    gap: 20px;
}

.box {
    background: #f7f7f7;
    padding: 20px;
    width: 50%;
    border-radius: 12px;
}

.box ul {
    margin: 10px 0;
    padding-left: 20px;
}

.bottom-action {
    margin-top: 20px;
    text-align: right;
}

.select-btn {
    background: #007bff;
    padding: 8px 70px;
    border: none;
    color: white;
    border-radius: 1%;
    cursor: pointer;
    position: relative;
}

.bottom-action {
    margin-top: 20px;
    text-align: right;
}

.blue-btn {
    padding: 10px 18px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.outline-btn {
    padding: 10px 18px;
    border: 1px solid #007bff;
    color: #007bff;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}

/* WORKS */
.works {
    margin: 0px 0px;
    margin-top: 0px;
}

.works h2 {
    font-size: 26px;
}

.works a {
    color: #0066ff;
    text-decoration: none;
    font-size: 16px;
}

/* FOOTER */
footer {
    background: #666363;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    font-weight: bold;
}

footer a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    align-items: center;
}

